@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Southern Treasures</h1>
    <p class="lead">Great Variety of Products that were found in some fleamarket or at one of the numerous rummage sales in the Deep South</p>
    <p><a href="http://localhost:50715/products" class="btn btn-primary btn-lg">Grab This &raquo;</a></p>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Sign In</h2>
        <p>Already signed up with us? Log in here.</p>
        <p><a class="btn btn-default" href="http://localhost:50715/Home/Login">Sign In &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Become A Buyer</h2>
        <p>You can sign up here and become a member of our site!</p>
        <p><a class="btn btn-default" href="http://localhost:50715/user/Create?type=Buyer">Start Here! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Become A Seller</h2>
        <p>
            Don't wait any longer, start earning extra cash as early as today!'
        </p>
        <p><a class="btn btn-default" href="http://localhost:50715/user/Create?type=Seller">Money for Nothing This Way! &raquo;</a></p>
    </div>
</div>